In [1]:
pip install pandas

Requirement already satisfied: pandas in /opt/homebrew/Cellar/jupyterlab/4.2.5_1/libexec/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/homebrew/Cellar/jupyterlab/4.2.5_1/libexec/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/homebrew/Cellar/jupyterlab/4.2.5_1/libexec/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/Cellar/jupyterlab/4.2.5_1/libexec/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/homebrew/Cellar/jupyterlab/4.2.5_1/libexec/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /opt/homebrew/Cellar/jupyterlab/4.2.5_1/libexec/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install numpy

Requirement already satisfied: numpy in /opt/homebrew/Cellar/jupyterlab/4.2.5_1/libexec/lib/python3.12/site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
b_pandas = []
r_dtypes = {"stars": np.float16, 
            "useful": np.int32, 
            "funny": np.int32,
            "cool": np.int32,
           }
with open("Downloads/yelp_dataset/yelp_academic_dataset_review.json", "r") as f:
    reader = pd.read_json(f, orient="records", lines=True, 
                          dtype=r_dtypes, chunksize=1000)
        
    for chunk in reader:
        reduced_chunk = chunk.drop(columns=['business_id', 'user_id'])\
                             .query("`date` >= '2017-12-01'")
        b_pandas.append(reduced_chunk)
    
b_pandas = pd.concat(b_pandas, ignore_index=True)

In [6]:
b_pandas.head(100)

,review_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,lUUhg8ltDsUZ9h0xnwY4Dg,4.0,1,0,1,I was really between 3 and 4 stars for this on...,2018-07-17 03:30:07
2,JBWZmBy69VMggxj3eYn17Q,5.0,0,0,0,My boyfriend and I tried this deli for the fir...,2018-08-23 21:39:38
3,E9AB7V4z8xrt2uPF7T55FQ,5.0,0,0,0,Amazing biscuits and (fill in the blank). Grea...,2018-04-27 23:03:21
4,A4n4YaE-owOVgTQcrVqHUw,4.0,0,0,0,The cafe was extremely cute. We came at 8am an...,2018-07-07 20:50:12
...,...,...,...,...,...,...,...
95,OJ4DSE87REOqg_I8uQvE2w,5.0,0,0,0,This place came highly recommended from some f...,2018-03-23 14:01:38
96,D4UUwqW7jnKX-dXfoOpmAQ,5.0,0,0,0,Best sandwiches in St.Louis! Could eat here ev...,2018-05-28 20:23:24
97,GRCHq50ZC53E6RuWx2ktqA,5.0,0,0,0,The hotel is beautifully done. It has a boutiq...,2018-05-08 18:20:24
98,IDLGZOMnn6JTFXAZ3k8l6Q,5.0,1,0,1,I got the hot shave and it did not disappoint....,2018-06-09 02:37:37
99,ARaxXz4N90ew6wG-g5HLYg,2.0,0,0,0,"Great food, awful service. I ordered online at...",2018-02-02 00:14:00

In [7]:
b_pandas.to_csv('reviews.csv', encoding = "utf-8", index=False, chunksize = 1000)

In [8]:
test_df = b_pandas[b_pandas["text"].str.contains('veg')]

In [9]:
train_df = b_pandas[b_pandas["text"].str.contains('veg') == False]

In [10]:
test_df.describe()

/opt/homebrew/Cellar/jupyterlab/4.2.5_1/libexec/lib/python3.12/site-packages/pandas/core/nanops.py:1487: RuntimeWarning: overflow encountered in cast
  return dtype.type(n)
/opt/homebrew/Cellar/jupyterlab/4.2.5_1/libexec/lib/python3.12/site-packages/numpy/core/_methods.py:49: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/opt/homebrew/Cellar/jupyterlab/4.2.5_1/libexec/lib/python3.12/site-packages/pandas/core/nanops.py:731: RuntimeWarning: invalid value encountered in scalar divide
  the_mean = the_sum / count if count > 0 else np.nan

,stars,useful,funny,cool,date
count,120239.0,120239.000000,120239.000000,120239.000000,120239
mean,NaN,1.497526,0.407871,0.953809,2019-09-08 22:21:00.885403392
min,1.0,0.000000,0.000000,0.000000,2017-12-01 00:00:28
25%,4.0,0.000000,0.000000,0.000000,2018-09-09 00:21:09.500000
50%,5.0,0.000000,0.000000,0.000000,2019-07-06 15:47:17
75%,5.0,2.000000,0.000000,1.000000,2020-08-16 03:31:57
max,5.0,222.000000,159.000000,207.000000,2022-01-19 18:54:31
std,0.0,4.485012,2.297913,3.984243,NaN

In [11]:
string_lengths = test_df["text"].str.len()

# Find the smallest, largest, and mean length
smallest_length = string_lengths.min()
largest_length = string_lengths.max()
mean_length = string_lengths.mean()

# Display the results
print(f"Smallest length: {smallest_length}")
print(f"Largest length: {largest_length}")
print(f"Mean length: {mean_length}")

Smallest length: 34
Largest length: 5000
Mean length: 746.4444897246318

In [12]:
train_df.describe()

/opt/homebrew/Cellar/jupyterlab/4.2.5_1/libexec/lib/python3.12/site-packages/pandas/core/nanops.py:1487: RuntimeWarning: overflow encountered in cast
  return dtype.type(n)
/opt/homebrew/Cellar/jupyterlab/4.2.5_1/libexec/lib/python3.12/site-packages/numpy/core/_methods.py:49: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/opt/homebrew/Cellar/jupyterlab/4.2.5_1/libexec/lib/python3.12/site-packages/pandas/core/nanops.py:731: RuntimeWarning: invalid value encountered in scalar divide
  the_mean = the_sum / count if count > 0 else np.nan

,stars,useful,funny,cool,date
count,2960340.0,2.960340e+06,2.960340e+06,2.960340e+06,2960340
mean,NaN,9.343437e-01,2.246070e-01,4.628357e-01,2019-10-10 18:04:56.266072832
min,1.0,-1.000000e+00,0.000000e+00,0.000000e+00,2017-12-01 00:00:52
25%,2.0,0.000000e+00,0.000000e+00,0.000000e+00,2018-10-06 14:14:08.500000
50%,5.0,0.000000e+00,0.000000e+00,0.000000e+00,2019-08-08 20:08:17.500000
75%,5.0,1.000000e+00,0.000000e+00,0.000000e+00,2020-10-11 02:36:40.500000
max,5.0,5.390000e+02,2.540000e+02,3.040000e+02,2022-01-19 19:48:45
std,0.0,2.886235e+00,1.334776e+00,2.303264e+00,NaN

In [13]:
string_lengths = train_df["text"].str.len()

# Find the smallest, largest, and mean length
smallest_length = string_lengths.min()
largest_length = string_lengths.max()
mean_length = string_lengths.mean()

# Display the results
print(f"Smallest length: {smallest_length}")
print(f"Largest length: {largest_length}")
print(f"Mean length: {mean_length}")

Smallest length: 1
Largest length: 5000
Mean length: 512.0680344149658

In [12]:
test_df.head(100)["text"]

1       I was really between 3 and 4 stars for this on...
75      This place just opened up near rivers edge apa...
91      Great location, great food, and friendly staff...
106     I've been a few times and I haven't been disap...
148     Love this place! Almost all of their menu item...
                              ...
2634    Oh my the hummus excellent served with sliced ...
2688    High end Mediterranean food is not what rolls ...
2696    Just had the Thai rice bowl. This is a dish of...
2720    I was in Doylestown on this Monday last servin...
2729    The Fountain on Locust is a Saint Louis gem! I...
Name: text, Length: 100, dtype: object

In [13]:
train_df.head(100)["text"]

0      If you decide to eat here, just be aware it is...
2      My boyfriend and I tried this deli for the fir...
3      Amazing biscuits and (fill in the blank). Grea...
4      The cafe was extremely cute. We came at 8am an...
5      I've only had the cannolis here but they are a...
                             ...
98     I got the hot shave and it did not disappoint....
99     Great food, awful service. I ordered online at...
100    Cute Japanese restaurant in Old City. Fresh su...
101    Great talent but that is not important when ti...
102    Had a great dinner at Spasso. My parents alway...
Name: text, Length: 100, dtype: object

In [14]:
import string

In [15]:
test_df["text"].str.replace(f"[{string.punctuation}]", " ", regex=True)

1          I was really between 3 and 4 stars for this on...
75         This place just opened up near rivers edge apa...
91         Great location  great food  and friendly staff...
106        I ve been a few times and I haven t been disap...
148        Love this place  Almost all of their menu item...
                                 ...
3080500    So  to be honest  I was not that impressed  Co...
3080509    Horrible owner  Thinks she is better than ever...
3080520    Why 4 stars  Because it was a tasty lunch for ...
3080521    I visited Mei Mei for the first time to celebr...
3080544    Lotus is a Vietnamese cuisine restaurant adjus...
Name: text, Length: 120239, dtype: object

In [16]:
train_df["text"].str.replace(f"[{string.punctuation}]", " ", regex=True)

0          If you decide to eat here  just be aware it is...
2          My boyfriend and I tried this deli for the fir...
3          Amazing biscuits and  fill in the blank   Grea...
4          The cafe was extremely cute  We came at 8am an...
5          I ve only had the cannolis here but they are a...
                                 ...
3080574    We redesigned my moms dress and mad it complet...
3080575    This spot offers a great  affordable east week...
3080576    This Home Depot won me over when I needed to g...
3080577    For when I m feeling like ignoring my calorie ...
3080578    Located in the  Walking District  in Nashville...
Name: text, Length: 2960340, dtype: object

In [17]:
null_counts = test_df.isnull().sum()

In [18]:
print(null_counts)

review_id    0
stars        0
useful       0
funny        0
cool         0
text         0
date         0
dtype: int64

In [19]:
test_df.describe()

/opt/homebrew/Cellar/jupyterlab/4.2.5_1/libexec/lib/python3.12/site-packages/pandas/core/nanops.py:1487: RuntimeWarning: overflow encountered in cast
  return dtype.type(n)
/opt/homebrew/Cellar/jupyterlab/4.2.5_1/libexec/lib/python3.12/site-packages/numpy/_core/_methods.py:52: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)
/opt/homebrew/Cellar/jupyterlab/4.2.5_1/libexec/lib/python3.12/site-packages/pandas/core/nanops.py:731: RuntimeWarning: invalid value encountered in scalar divide
  the_mean = the_sum / count if count > 0 else np.nan

,stars,useful,funny,cool,date
count,120239.0,120239.000000,120239.000000,120239.000000,120239
mean,NaN,1.497526,0.407871,0.953809,2019-09-08 22:21:00.885403392
min,1.0,0.000000,0.000000,0.000000,2017-12-01 00:00:28
25%,4.0,0.000000,0.000000,0.000000,2018-09-09 00:21:09.500000
50%,5.0,0.000000,0.000000,0.000000,2019-07-06 15:47:17
75%,5.0,2.000000,0.000000,1.000000,2020-08-16 03:31:57
max,5.0,222.000000,159.000000,207.000000,2022-01-19 18:54:31
std,0.0,4.485012,2.297913,3.984243,NaN

In [20]:
test_df.to_csv('clean_project_test.csv', encoding = "utf-8", index=False, chunksize = 1000)

In [21]:
train_df.sample(n=120239).to_csv('clean_project_train.csv', encoding = "utf-8", index=False, chunksize = 1000)

In [17]:
filtered_df['stars'].unique()

array([4., 5., 1., 3., 2.], dtype=float16)